@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

html {
  font-size: 15px;
  font-family: "Alata", sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
}

h2 {
  font-size: 3rem;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 30px;
}

li a {
  text-decoration: none;
}

p {
  line-height: 30px;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

header a {
  color: white;
}

header .container {
  padding: 60px 120px;
}

header .logo {
  display: inline;
  width: 180px;
  height: auto;
  float: left;
}

header h1 {
  font-size: 3.3rem;
  border: 2px solid white;
  padding: 25px;
  width: 400px;
  max-width: 80%;
  margin-top: 160px;
}

header ul {
  float: right;
}

main {
  padding: 40px 150px;
}

.section-one {
  margin-top: 100px;
}

.section-one__img {
  display: inline-block;
  width: 800px;
  max-width: 70%;
  height: auto;
}

.section-one .text-container {
  display: inline-block;
  width: 450px;
  max-width: 40%;
  padding: 60px 0 0 60px;
  background-color: white;
  margin-top: -90px;
  margin-left: -145px;
}

.section-two__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.section-two__btn {
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 30px;
  letter-spacing: 2px;
}

.section-two__btn a {
  text-decoration: none;
  color: dimgray;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
}

.card h3 {
  color: white;
  font-size: 2.3rem;
  padding: 50px;
  margin-top: 340px;
}

#card-one {
  background-image: -webkit-gradient(linear, left top, left bottom, from(dimgray), to(dimgray)), url(../images/desktop/image-deep-earth.jpg);
  background-image: linear-gradient(dimgray, dimgray), url(../images/desktop/image-deep-earth.jpg);
}

#card-two {
  background-image: -webkit-gradient(linear, left top, left bottom, from(dimgray), to(dimgray)), url(../images/desktop/image-night-arcade.jpg);
  background-image: linear-gradient(dimgray, dimgray), url(../images/desktop/image-night-arcade.jpg);
}

#card-three {
  background-image: -webkit-gradient(linear, left top, left bottom, from(dimgray), to(dimgray)), url(../images/desktop/image-soccer-team.jpg);
  background-image: linear-gradient(dimgray, dimgray), url(../images/desktop/image-soccer-team.jpg);
}

#card-four {
  background-image: -webkit-gradient(linear, left top, left bottom, from(dimgray), to(dimgray)), url(../images/desktop/image-grid.jpg);
  background-image: linear-gradient(dimgray, dimgray), url(../images/desktop/image-grid.jpg);
}

#card-five {
  background-image: -webkit-gradient(linear, left top, left bottom, from(dimgray), to(dimgray)), url(../images/desktop/image-from-above.jpg);
  background-image: linear-gradient(dimgray, dimgray), url(../images/desktop/image-from-above.jpg);
}

#card-six {
  background-image: -webkit-gradient(linear, left top, left bottom, from(dimgray), to(dimgray)), url(../images/desktop/image-pocket-borealis.jpg);
  background-image: linear-gradient(dimgray, dimgray), url(../images/desktop/image-pocket-borealis.jpg);
}

#card-seven {
  background-image: -webkit-gradient(linear, left top, left bottom, from(dimgray), to(dimgray)), url(../images/desktop/image-curiosity.jpg);
  background-image: linear-gradient(dimgray, dimgray), url(../images/desktop/image-curiosity.jpg);
}

#card-eight {
  background-image: -webkit-gradient(linear, left top, left bottom, from(dimgray), to(dimgray)), url(../images/desktop/image-fisheye.jpg);
  background-image: linear-gradient(dimgray, dimgray), url(../images/desktop/image-fisheye.jpg);
}

footer {
  height: 150px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 40px 150px;
}

footer-logo {
  width: 50px;
  float: left;
}

footer-ul {
  float: left;
}

footer-li {
  margin: 0px;
}

footer-socials {
  float: right;
}

footer p {
  float: right;
}
/*# sourceMappingURL=style.css.map */